.classMainWrapper {
  position: fixed;
  z-index: 1;
  background-color: white;
  width: '100%';
  margin-bottom: 9%
}

.menutitle {
  font-weight: 600;
  cursor: pointer;
  color: black;
}

.font-weight-700 {
  font-weight: 700;
  margin-top: -5px;
}

.hideItems {
  display: none;
}

.header-link{
  text-decoration: none;
  width:95%
}

.header-link-mini{
  text-decoration: none;
  width:120px
}

.menutitle {
  padding-top:5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color color;
  transition-duration: 2s;
}

.menutitle:hover {
  background-color: blue;
  color: white;
}

@media screen and (max-width: 900px) {
  .displayItems {
    display: none;
    cursor: pointer;
  }

  .hideItems {
    display: flex;
    justify-content: space-between;
  }
}

.signupbutton {
  background-color: blue;
  border-radius: '5px';
}